<html>
<head>
</head>
<body>
<center><h2>1899 Latitude Contact Us</h2></center>
<b>Dear Admin,</b>
<br>
       <p>      Please check the following details :  </p>
    <p><b>Name: </b><%= content.name    %> </p>
    <p><b>Email: </b><%= content.email    %> </p>
    <p><b>Phone no: </b><%= content.phone    %> </p>
    <p><b>Comment: </b><%= content.comment    %> </p>
       Regards,<br>
      <b>  Administrator<br>
</body>
</html>
